/* add css here */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    font-family: "Jost";
}

body{
    align-content: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    display: block;
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 20px;
}

input {
    border: 1px solid #d8cccc;
    width: 220px;
    border-radius: 4px;
}

.wrapper{
    /*Fixed settings*/
    margin-top: 32px;
    max-width: 475px;
    padding: 24px;
    background: white;
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.02), 0 6.7px 5.3px rgba(0, 0, 0, 0.028),0 12.5px 10px rgba(0, 0, 0, 0.035), 0 22.3px 17.9px rgba(0, 0, 0, 0.042),0 41.8px 33.4px rgba(0, 0, 0, 0.05), 0 100px 80px rgba(0, 0, 0, 0.07);
    /*Other settings*/
    width: 475px;
    height: auto;
}

form {
    width:395px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 40px;
    height: auto;
}

.item{
    margin-top: 10px;
    align-self: flex-end;
}

#agree {
    width: 20px;
}
.check-box {
    width: 100%;
    height: 50px;
    line-height: 50px;
    border-radius: 5px;
    background: #f2f2f2;
    margin-top: 30px;
    margin-bottom: 30px;
}

footer{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

button{
    color: white;
    width: 130px;
    height: 40px;
    border-radius: 4px;
}

#clear-btn{
    background-color: hsl(333deg, 100%, 44%);
}
#submit-btn{
    background-color: hsl(256deg, 100%, 44%);
}
#error-box{
    margin-top: 30px;
    height: auto;
    line-height: 30px;
    background-color: hsla(333deg, 100%, 44%, 0.25);
    font-weight: 600;
}
.error-input{
    border: 2px solid red;

}
.error-input:focus{
    outline:none;
    box-shadow: 2px 2px 1px 0px rgb(54, 100, 255);
}